<select class="form-control" name="state">
    <option value="1">启用</option>
    <option value="0">禁用</option>
</select>

<script type="text/javascript">
    $.ajax('/modules/modulesList', function(){

    });
</script>