<form id="form-query" class="form-inline" method="get">
    <div class="form-group">
        <label> 热词类型：</label>
        <select class="form-control" name="state">
            <option value="">全部热词</option>
            <option value="1">人工热词</option>
            <option value="2">挖掘热词</option>
        </select>
    </div>
    <div class="form-group">
        <label>热词： </label>
        <input type="text" value="" name="word" class="form-control">
    </div>
    <div class="form-group">
        <label> orgcode：</label>
        <input type="text" value="" name="orgcode" class="form-control">
    </div>
    <div class="form-group">
        <label> 门店ID：</label>
        <input type="text" value="" name="shopid" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit">查询</button>
    <button class="btn btn-primary" type="reset">清空</button>
</form>

<script type="text/javascript">
    $(function(){

    });
</script>