<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">新增角色</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div data-action="modal-tip" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none">
                        <button type="button" class="close" data-action="modal-tip-close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        新增成功
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label>角色名：</label>
                            <input type="hidden" name="id">
                            <input type="text" class="form-control" name="name" value="">
                        </div>
                        <div class="form-group" style="margin-left: 20px;">
                            <label>状态：</label>
                            <select class="form-control" name="state">
                                <option value="">请选择状态</option>
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>模块列表</label>
                        <div class="box-modulesList"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑角色</h3>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label>角色名：</label>
                        <input type="hidden" name="id">
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group" style="margin-left: 20px;">
                        <label>状态：</label>
                        <select class="form-control" name="state">
                            <option value="">请选择状态</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>模块列表</label>
                    <div class="box-modulesList"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-detail-title">角色明细</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>角色名</label>
                        <input type="hidden" name="id">
                        <input disabled="disabled" type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state" disabled="disabled">
                            <option value="">请选择状态</option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>模块列表</label>
                        <div class="box-modulesList">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/mustache" id="tpl-table">
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>角色名</th>
        <th>创建日期</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    [[#rows]]
    <tr>
        <td data-id="[[id]]" data-modulesList=[[modulesList]]>[[id]]</td>
        <td data-name="[[name]]">[[name]]</td>
        <td>[[create_time]]</td>
        <td data-state="[[state]]">
            [[#state]]<label class="label label-success">已启用</label>[[/state]]
            [[^state]]<label class="label label-default">已禁用</label>[[/state]]
        </td>
        <td>
            <button class="btn btn-sm btn-default" data-action="change-state">
                [[#state]]禁用[[/state]]
                [[^state]]启用[[/state]]
            </button>
            <button href="javascript:;" data-action="item-edit" class="btn btn-sm btn-default"> 编辑</button>
            <button href="javascript:;" data-action="item-detail" class="btn btn-sm btn-default"> 查看明细</button>
        </td>
    </tr>
    [[/rows]]
    </tbody>
</table>

</script>
<script type="text/mustache" id="tpl-modulesList">
    [[#rows]]
        <input type='checkbox' value="[[id]]">[[name]]
    [[/rows]]
</script>

<script type="text/javascript">
    //查询条件初始化
    (function(){
        var name=Yi.getQuery('name')||'';
        var id = Yi.getQuery('id');
        var state = Yi.getQuery('state')||'';

        var $formQuery = $('#form-query');
        var $name = $formQuery.find('[name=name]');
        var $id = $formQuery.find('[name=id]');
        var $state = $formQuery.find('[name=state]');
        $name.val(name);
        $id.val(id);
        $state.val(state);

        var $box = $('#box-table');
        $.ajax('/group/groupList', {
            method: 'GET',
            data: {
                name: name,
                state: state
            }
        }).done(function (data) {
            if (data && data.code === 1) {
                for (var i = 0; i < data.rows.length; i++) {
                    if (data.rows[i]['create_time']) data.rows[i]['create_time'] = Yi.formatTime(data.rows[i]['create_time']);
                }
                $box.append(Mustache.render($('#tpl-table').html(), data));
            }
        });
    })();

    //modulesList获取
    $.ajax('/modules/modulesList', {
        method:'GET'
    }).done(function(data){
        if(data &&data.code === 1){
            $('.box-modulesList').append(Mustache.render($('#tpl-modulesList').html(), data));
        }
    });

    //新增
    (function(){
        var $modalAdd = $('#modal-add');
        var $submit = $modalAdd.find('[data-action=modal-submit]');
        var $name = $modalAdd.find('[name=name]');
        var $state = $modalAdd.find('[name=state]');

        $submit.click(function(){
            var name = $name.val(), state = $state.val();

            //这段代码必须放到click函数里面，因为checkbox列表数据是异步加载的
            var $checkbox = $modalAdd.find('.box-modulesList').find('input[type=checkbox]');
            var modulesList = [];
            for(var i = 0; i < $checkbox.length; i++){
                if($checkbox[i].checked)  modulesList.push($checkbox.eq(i).val());
            }
            modulesList = modulesList.join(',');


            $submit.attr('disabled', 'disabled');
            $.ajax('/group/groupAdd', {
                method:'POST',
                data:{
                    name:name,
                    state:state,
                    modulesList:modulesList
                }
            }).done(function(data){
                if(data && data.code === 1){
                    $('[data-action=modal-tip]').removeClass('alert-warning').addClass('alert-success').text('新增成功').fadeIn();
                }else{
                    $('[data-action=modal-tip]').removeClass('alert-success').addClass('alert-warning').text('新增失败').fadeIn();
                }
            }).always(function(){
                $submit.attr('disabled', false);
            });
        });

        $('[data-action="modal-tip-close"]').click(function(){
            $('[data-action=modal-tip]').fadeOut();
        });
    })();

    //编辑用户
    (function(){
        var $modalEdit = $('#modal-edit');
        var $submit = $modalEdit.find('[data-action=modal-submit]');
        var $id = $modalEdit.find('[name=id]');
        var $name = $modalEdit.find('[name=name]');
        var $state = $modalEdit.find('[name=state]');

        $submit.click(function(){
            var id = $id.val(), name = $name.val(), state = $state.val();
            var $checkbox = $modalEdit.find('.box-modulesList').find('input[type=checkbox]');
            var modulesList = [];
            for(var i = 0; i < $checkbox.length; i++){
                if($checkbox[i].checked)  modulesList.push($checkbox.eq(i).val());
            }
            modulesList = modulesList.join(',');
            $submit.attr('disabled', 'disabled');
            $.ajax('/group/groupEdit', {
                method:'PUT',
                data:{
                    id:id,
                    name:name,
                    state:state,
                    modulesList:modulesList
                }
            }).done().always(function(){
                $submit.attr('disabled', false);
                location.reload();
            });
        });
    })();

    //操作
    (function(){
        var $box = $('#box-table');
        $box.click(function(e){
            var $targetBtn = $(e.target);
            var dataAction = $targetBtn.attr('data-action');
            if(dataAction == "change-state"){
                changeState($targetBtn)
            }else if(dataAction == 'item-detail'){
                itemDetail($targetBtn);
            }else if(dataAction == 'item-edit'){
                itemEdit($targetBtn);
            }
        });

        function changeState($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $id = $tr.find('[data-id]');
            var $state = $tr.find('[data-state]');

            var id = $id.attr('data-id');
            var state = parseInt($state.attr('data-state')) == 0 ? 1:0;

            $targetBtn.attr('disabled', 'disabled');
            $.ajax('/group/groupState',{
                method:'PUT',
                data:{
                    id:id,
                    state:state
                }
            }).done(function(data){
                if(data && data.code == 1){
                    $state.attr('data-state', state);
                    if(state){
                        $state.find('label').removeClass('label-default').addClass('label-success').text('已启用');
                        $targetBtn.text('禁用');
                    }else{
                        $state.find('label').removeClass('label-success').addClass('label-default').text('已禁用');
                        $targetBtn.text('启用');
                    }
                }
            }).always(function(data){
                console.log('data: ', data);
                $targetBtn.attr('disabled', false);
            });
        }

        function itemDetail($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $tr_id = $tr.find('[data-id]');
            var $tr_name = $tr.find('[data-name]')
            var $tr_modulesList = $tr.find('[data-modulesList]');
            var $tr_state = $tr.find('[data-state]');

            var modulesList = $tr_modulesList.attr('data-modulesList').split(',');

            var $modalEdit = $('#modal-detail');
            var $id = $modalEdit.find('[name=id]');
            var $name = $modalEdit.find('[name=name]');
            var $state = $modalEdit.find('[name=state]');
            var $modulesList = $modalEdit.find('.box-modulesList');

            $id.val($tr_id.attr('data-id'));
            $name.val($tr_name.attr('data-name'));
            $state.val($tr_state.attr('data-state'));


            $('#modal-detail').modal('show');

            $modulesList.find('input[type=checkbox]').attr('checked', false).attr('disabled',true);
            for(var i = 0; i < modulesList.length; i++){
                $modulesList.find('input[type=checkbox]').filter('[value='+modulesList[i]+']')[0].checked=true;
            }
        }

        function itemEdit($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $tr_id = $tr.find('[data-id]');
            var $tr_name = $tr.find('[data-name]')
            var $tr_state = $tr.find('[data-state]');
            var $tr_modulesList = $tr.find('[data-modulesList]');

            var $modalEdit = $('#modal-edit');
            var $id = $modalEdit.find('[name=id]');
            var $name = $modalEdit.find('[name=name]');
            var $state = $modalEdit.find('[name=state]');
            var $modulesList = $modalEdit.find('.box-modulesList');

            $id.val($tr_id.attr('data-id'));
            $name.val($tr_name.attr('data-name'));
            $id.val($tr_id.attr('data-id'));
            $state.val($tr_state.attr('data-state'));

            $modulesList.find('input[type=checkbox]').attr('checked', false).attr('disabled',false);
            var modulesList = $tr_modulesList.attr('data-modulesList').split(',');
            for(var i = 0; i < modulesList.length; i++){
                $modulesList.find('input[type=checkbox]').filter('[value='+modulesList[i]+']')[0].checked=true;
            }

            $('#modal-edit').modal('show');
        }
    })();

</script>