<!doctype html>
<html lang="en">
<head>
    {%include "../tpl/base/css.html"%}
</head>
<body class=" theme-blue">
{%include "../tpl/base/ie.html"%}
<div class="content">
    <div class="header">
        <h1 class="page-title">用户管理 <button class="label label-success pull-right" style="font-size: 12px;padding: 6px 15px;border:none" onclick="location.reload()">刷 新</button></h1>

    </div>
    <div class="main-content">
        <div class="btn-toolbar list-toolbar">
            <form id="form-query" class="form-inline" method="get">
                <div class="form-group">
                    <label> 用户名：</label>
                    <input type="text" value="" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label> 角色：</label>
                    <select class="form-control box-group-select" name="group_id">
                        <option value="">请选择角色</option>
                    </select>
                </div>
                <div class="form-group">
                    <label> 状态：</label>
                    <select class="form-control" name="state">
                        <option value="">请选择状态</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <button class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                <a href="#modal-add" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"></i> 新增</a>
            </form>
            <hr>
            <div id="box-user-table"></div>
            <!--<ul class="pagination">-->
                <!--<li><a href="#">&laquo;</a></li>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li><a href="#">&raquo;</a></li>-->
            <!--</ul>-->
        </div>
    </div>

    {%include "../tpl/base/js.html"%}
</div>
<!--前端用户列表模板-->
{%include "./user-table.html"%}
{%include "../tpl/group/group-select.html"%}
</body>
</html>
