<!doctype html>
<html lang="en"><head>
    {%include "../tpl/base/css.html"%}
</head>
<body class=" theme-blue">
{%include "../tpl/base/ie.html"%}

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 京东到家搜索运营平台</span></a></div>

    <div class="navbar-collapse collapse" style="height: 1px;">

    </div>
</div>
</div>

<div class="dialog">
    <div class="panel panel-default">
        <p class=" no-collapse"></p>
        <div class="panel-body">
            <form action="/signin" method="post">
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" class="form-control span12" name="username">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control span12" name="password">
                </div>
                <!--<a href="javascript:;" id="submit" class="btn btn-primary pull-right">登 录</a>-->
                <input type="submit" class="btn btn-primary pull-right" value="登录">
                <label class="remember-me"><input type="checkbox"> 记住密码</label>
                <span class="signin-tip"></span>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

{%include "../tpl/base/js.html"%}
<script type="text/javascript">
    (function(){
        var $submit = $('#submit');
        $submit.click(function(){
            var username = $('input[name=username]').val();
            var password = $('input[name=password]').val();

            $.ajax('/signin', {
                method:"POST",
                data:{
                    username:username,
                    password:password
                }
            }).done(function(data){
                if(data && data.code === 1){
                    $('.signin-tip').attr('color','green').show().text('登录成功！');
                    location = '/';
                }else{
                    $('.signin-tip').attr('color','red').show().text('登录失败，用户名或密码错误！');
                }
            });
        });

    })();
</script>
</body></html>
