<!doctype html>
<html lang="en">
<head>
    {%include "../tpl/base/css.html"%}
</head>
<body class=" theme-blue">
{%include "../tpl/base/ie.html"%}
<div class="content">
    <div class="header">
        <h1 class="page-title">新增热词 <button class="label label-success pull-right" style="font-size: 12px;padding: 6px 15px;border:none" onclick="location.reload()">刷 新</button></h1>

    </div>
    <div class="main-content">
        <div class="btn-toolbar list-toolbar">
            {%include "./partial/query.html"%}
            <hr>
            {%include "./partial/table.html"%}
            <!--<ul class="pagination">-->
                <!--<li><a href="#">&laquo;</a></li>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li><a href="#">&raquo;</a></li>-->
            <!--</ul>-->
        </div>
    </div>

    {%include "../tpl/base/js.html"%}
</div>
<!--前端用户列表模板-->
</body>
</html>
