<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modal-add-title">新增模块</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div data-action="modal-tip" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none">
                        <button type="button" class="close" data-action="modal-tip-close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        新增成功
                    </div>
                    <div class="form-group">
                        <label>模块名</label>
                        <input type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label>模块标题</label>
                        <input type="text" class="form-control" name="title" value="">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>数据文件</label>
                        <input type="text" class="form-control" name="file" value="">
                    </div>
                    <div class="form-group">
                        <label>脚本文件</label>
                        <input type="text" class="form-control" name="script" value="">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" name="url" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="modal small fade" id="modal-tip" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-tip-title">重置密码</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="fa fa-warning modal-icon"></i>密码已重置！默认密码是88888888</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-edit-title">编辑用户</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>ID</label>
                        <input disabled="disabled" type="text" class="form-control" name="id" value="">
                    </div>
                    <div class="form-group">
                        <label>模块名</label>
                        <input disabled="disabled" type="text" class="form-control" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label>模块标题</label>
                        <input type="text" class="form-control" name="title" value="">
                    </div>
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" name="state">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>数据文件</label>
                        <input type="text" class="form-control" name="file" value="">
                    </div>
                    <div class="form-group">
                        <label>脚本文件</label>
                        <input type="text" class="form-control" name="script" value="">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" name="url" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button class="btn btn-primary" data-action="modal-submit">提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/mustache" id="tpl-table">
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>模块名</th>
        <th>模块标题</th>
        <th>数据文件</th>
        <th>脚本文件</th>
        <th>URL</th>
        <th>创建日期</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    [[#rows]]
    <tr>
        <td data-id="[[id]]">[[id]]</td>
        <td data-name="[[name]]">[[name]]</td>
        <td data-title="[[title]]">[[title]]</td>
        <td data-file="[[file]]">[[file]]</td>
        <td data-script="[[script]]">[[script]]</td>
        <td data-url="[[url]]">[[url]]</td>
        <td>[[create_time]]</td>
        <td data-state="[[state]]">
            [[#state]]<label class="label label-success">已启用</label>[[/state]]
            [[^state]]<label class="label label-default">已禁用</label>[[/state]]
        </td>
        <td>
            <button class="btn btn-sm btn-default" data-action="change-state">
                [[#state]]禁用[[/state]]
                [[^state]]启用[[/state]]
            </button>
            <button href="javascript:;" data-action="user-edit" class="btn btn-sm btn-default"> 编辑</button>
        </td>
    </tr>
    [[/rows]]
    </tbody>
</table>

</script>

<script type="text/javascript">
    //查询条件初始化
    (function(){
        var name=Yi.getQuery('name')||'';
        var state = Yi.getQuery('state')||'';
        var title = Yi.getQuery('title')||'';

        var $formQuery = $('#form-query');
        var $name = $formQuery.find('[name=name]');
        var $title = $formQuery.find('[name=title]');
        var $state = $formQuery.find('[name=state]');
        $name.val(name);
        $title.val(title);
        $state.val(state);

        var $box = $('#box-table');
        $.ajax('/modules/modulesList', {
            method: 'GET',
            data: {
                name: name,
                state: state,
                title: title
            }
        }).done(function (data) {
            if (data && data.code === 1) {
                for (var i = 0; i < data.rows.length; i++) {
                    if (data.rows[i]['create_time']) data.rows[i]['create_time'] = Yi.formatTime(data.rows[i]['create_time']);
                }
                var html = Mustache.render($('#tpl-table').html(), data);
                $box.append(html);
            }
        });
    })();

    //新增
    (function(){
        var $modalAdd = $('#modal-add');
        var $submit = $modalAdd.find('[data-action=modal-submit]');
        var $name = $modalAdd.find('[name=name]');
        var $title = $modalAdd.find('[name=title]');
        var $state = $modalAdd.find('[name=state]');
        var $file = $modalAdd.find('[name=file]');
        var $script = $modalAdd.find('[name=script]');
        var $url = $modalAdd.find('[name=url]');
        $submit.click(function(){
            var name = $name.val(), title = $title.val(),
                    state = $state.val(), file=$file.val(), script=$script.val(), url = $url.val();
            $submit.attr('disabled', 'disabled');
            $.ajax('/modules/modulesAdd', {
                method:'POST',
                data:{
                    name:name,
                    title:title,
                    state:state,
                    file:file,
                    script:script,
                    url:url
                }
            }).done(function(data){
                if(data && data.code === 1){
                    $('[data-action=modal-tip]').removeClass('alert-warning').addClass('alert-success').text('新增成功').fadeIn();
                }else{
                    $('[data-action=modal-tip]').removeClass('alert-success').addClass('alert-warning').text('新增失败').fadeIn();
                }
            }).always(function(){
                $submit.attr('disabled', false);
            });
        });

        $('[data-action="modal-tip-close"]').click(function(){
            $('[data-action=modal-tip]').fadeOut();
        });
    })();
//
    //编辑用户
    (function(){
        var $modalEdit = $('#modal-edit');
        var $submit = $modalEdit.find('[data-action=modal-submit]');
        var $id = $modalEdit.find('[name=id]');
        var $title = $modalEdit.find('[name=title]');
        var $file = $modalEdit.find('[name=file]');
        var $script = $modalEdit.find('[name=script]');
        var $state = $modalEdit.find('[name=state]');
        var $url = $modalEdit.find('[name=url]');

        $submit.click(function(){
            var id = $id.val(), title = $title.val(),
                    state = $state.val(), file=$file.val(), script=$script.val(), url = $url.val();
            $submit.attr('disabled', 'disabled');
            $.ajax('/modules/modulesEdit', {
                method:'PUT',
                data:{
                    id:id,
                    title:title,
                    state:state,
                    file:file,
                    script:script,
                    url:url
                }
            }).done(function(data){
                if(data && data.code === 1){
                    location.reload();
                }
            }).always(function(){
                $submit.attr('disabled', false);
            });
        });
    })();
//
    //操作
    (function(){
        var $box = $('#box-table');
        $box.click(function(e){
            var $targetBtn = $(e.target);
            var dataAction = $targetBtn.attr('data-action');
            if(dataAction == "change-state"){
                changeState($targetBtn)
            }else if(dataAction == 'user-edit'){
                modulesEdit($targetBtn);
            }
        });

        function changeState($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var $id = $tr.find('[data-id]');
            var $state = $tr.find('[data-state]');

            var id = $id.attr('data-id');
            var state = parseInt($state.attr('data-state')) == 0 ? 1:0;

            $targetBtn.attr('disabled', 'disabled');
            $.ajax('/modules/modulesState',{
                method:'PUT',
                data:{
                    id:id,
                    state:state
                }
            }).done(function(data){
                if(data && data.code == 1){
                    $state.attr('data-state', state);
                    if(state){
                        $state.find('label').removeClass('label-default').addClass('label-success').text('已启用');
                        $targetBtn.text('禁用');
                    }else{
                        $state.find('label').removeClass('label-success').addClass('label-default').text('已禁用');
                        $targetBtn.text('启用');
                    }
                }
            }).always(function(data){
                $targetBtn.attr('disabled', false);
            });
        }

        function modulesEdit($targetBtn){
            var $tr = $targetBtn.closest('tr');
            var id = $tr.find('[data-id]').attr('data-id');
            var name = $tr.find('[data-name]').attr('data-name');
            var title = $tr.find('[data-title]').attr('data-title');
            var file = $tr.find('[data-file]').attr('data-file');
            var script = $tr.find('[data-script]').attr('data-script');
            var state = $tr.find('[data-state]').attr('data-state');
            var url = $tr.find('[data-url]').attr('data-url');


            var $modalEdit = $('#modal-edit');
            var $id = $modalEdit.find('[name=id]');
            var $name = $modalEdit.find('[name=name]');
            var $title = $modalEdit.find('[name=title]');
            var $file = $modalEdit.find('[name=file]');
            var $script = $modalEdit.find('[name=script]');
            var $state = $modalEdit.find('[name=state]');
            var $url = $modalEdit.find('[name=url]');

            $id.val(id);
            $name.val(name);
            $title.val(title);
            $file.val(file);
            $script.val(script);
            $state.val(state);
            $url.val(url);

            $('#modal-edit').modal('show');
        }
    })();

</script>