html, body{
    height:100%;
}
.navbar-fixed{
    position:fixed;
    top:0;width:100%;
    z-index: 1;
}

.sidebar-nav{
    position: fixed;
    left:0;
    top:50px;
    bottom:0;
    width:240px;
}

.content{
    margin-left:0;
}
.main-box{
    position: fixed;
    top:50px;
    bottom:0;
    left:240px;
    right:0;
}

.main{
    position: absolute;
    display: block;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.header{
    padding:0;
}
.table th, .table td{
    text-align: center;
}